/* Message Styles */

.message {
    margin-bottom: 16px;   
}

.message__name {
    font-weight: 600;
    font-size: 14px;
    margin-right: 8px;
}

.message__meta {
    color: #777;
    font-size: 14px;
}

.message a {
    color: #0070CC;
}